@mixin buttons {
    display: block;
    width: 63%;
    font-size: 1.2rem;
    height: 3rem;
    margin: 20px auto;
    border: 1px solid #666;
    border-radius: 10px;
    font-weight: 700;
}

.formulario{
    &__button-cuenta{
        @include buttons;
        background-color: #729e2e;
        color: #fff;
    }

    &__button-google{
        @include buttons;
        background-color: #fff;
    }
}

.container-suscribete__button{
    height: 3rem;
    width: 20%;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    margin-left: 400px;
}