.icono-google{
    font-size: 1.5rem;
    font-weight: 700;
    color: red;
    margin-right: 10px;
}

.icono-login{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-right: 10px;
}