.header{
    height: 130px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #CCCCCC;

    &__logo{
        width: 55px;
        height: 55px;
        margin-left: 110px;
        margin-right: 20px;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 10px;
    }

    &__title{
        font-size: 24px;
        margin: 0;
        font-weight: 700;
    }
}






